*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container{
    
    height: 100vh;
    background-color: #1d1d1d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sub-container {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 66, 66);
    width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 10px 10px 0px 0px ;
}

header{
    
    display: flex;
    flex-direction:column;
    gap: 20px;
    text-align: center;

 }   

footer > button{
    background-color: #fad400;
    border: none;
    padding: 15px 40px;
    margin: 20px;
    border-radius: 5px;
    position: absolute;
    transition: background-color 0.3s ease-in-out;
}

footer > button#btnSi{
 left: 100px;
}

footer > button#btnNo{
    background-color: #fff4cb;
    right: 100px;
   }

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
    position:relative;
    background-color: rgb(66, 66, 66);
    border-radius: 0px 0px 10px 10px ;
}


footer > button#btnSi:hover{
    background-color: #e7c23b;
}


/* Animacion del si */

article.alert{
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    padding: 20px;
    display: flex;
}

article.alert > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    font-weight: bold;
    color: #fff;
    text-align: center;
    width: 400px;
    height: 500px;
    background-color:rgb(66, 66, 66) ;
    border-radius: 10px;
}

.hidden{
    display: none;

}
